%h3 Isn't this a rip-off of the old 2prong.com circa 2005/6? (domain now squatted)
%p yes.

%h3 Why is it called eyepaste.com?
%p
  in 2003 i bought the domain name eyepaste.com and intended it to be a site where you could easily upload photos from your cellphone / camera phone. Then a few months later a lot of big sites were doing this and i hadn't really done anything yet except draw the logo -- which looks really good big (see the <a href="/images/eyepaste-original.gif">original eyepaste.com splash page</a> -- so i never programmed it. the name is so good, i decide to use it here...

%h3 Will this site rotate the email address domain names like 2prong did?
%p Well, maybe. It's not hard technically, but the site doesn't get a lot of traffic so I don't think service providers are going to start banning it en masse.  If you ever have a problem with a service provider banning an eyepaste.com email address, please leave feedback and I can start a rotation.
